<div [formGroup]="parentForm" class="theme-palette-grid">
  <div class="form-group color-input">
    <label>Primario (Acento)</label>
    <input type="color" formControlName="color_primario" />
  </div>
  <div class="form-group color-input">
    <label>Secundario</label>
    <input type="color" formControlName="color_secundario" />
  </div>
  <div class="form-group color-input">
    <label>Cabecera/Footer</label>
    <input type="color" formControlName="color_cabecera" />
  </div>
  <div class="form-group color-input">
    <label>Fondo Web</label>
    <input type="color" formControlName="color_fondo" />
  </div>
  <div class="form-group color-input">
    <label>Texto</label>
    <input type="color" formControlName="color_texto" />
  </div>
</div>
