<div [formGroup]="parentForm" class="theme-palette-grid">
  <div class="form-group color-input">
    <label>Primario (Acento)</label>
    <div class="input-group">
      <input type="color" formControlName="color_primario" />
      <input type="text" formControlName="color_primario" placeholder="#000000" maxlength="7" />
    </div>
  </div>
  <div class="form-group color-input">
    <label>Secundario</label>
    <div class="input-group">
      <input type="color" formControlName="color_secundario" />
      <input type="text" formControlName="color_secundario" placeholder="#000000" maxlength="7" />
    </div>
  </div>
  <div class="form-group color-input">
    <label>Cabecera/Footer</label>
    <div class="input-group">
      <input type="color" formControlName="color_cabecera" />
      <input type="text" formControlName="color_cabecera" placeholder="#000000" maxlength="7" />
    </div>
  </div>
  <div class="form-group color-input">
    <label>Fondo Web</label>
    <div class="input-group">
      <input type="color" formControlName="color_fondo" />
      <input type="text" formControlName="color_fondo" placeholder="#000000" maxlength="7" />
    </div>
  </div>
  <div class="form-group color-input">
    <label>Texto</label>
    <div class="input-group">
      <input type="color" formControlName="color_texto" />
      <input type="text" formControlName="color_texto" placeholder="#000000" maxlength="7" />
    </div>
  </div>
</div>
