<div class="voting-form-body active-poet" *ngIf="poetaActivo">
  <div class="poet-card">
    <div class="poet-header">
      <div class="poet-avatar-large">
        <img [src]="poetaActivo.foto_url" alt="Avatar">
      </div>
      <h3>Votando a:</h3>
      <h2 class="poet-name pulse-text">{{ poetaActivo.nombre }}</h2>
    </div>

    <form [formGroup]="voteForm" (ngSubmit)="onSubmit()">

      <div class="word-selector">
        <button type="button" class="word-btn" *ngFor="let op of opcionesVoto"
          [class.selected]="puntuacion.value === op.valor" (click)="puntuacion.setValue(op.valor)">
          <span class="btn-word">{{ op.emoji }} {{ op.texto }}</span>
          <span class="btn-percentage">{{ op.valor * 10 }}%</span>
        </button>
      </div>

      <div class="form-footer">
        <button type="submit" class="btn-primary giant-btn"
          [disabled]="loading || voteForm.invalid || !puntuacion.value">
          {{ loading ? 'Enviando...' : '¡Enviar mi Voto!' }}
        </button>
      </div>
    </form>
  </div>
</div>