<section class="section secondary-events">
  <div class="container">
    <h2 class="section-title">Otras Citas</h2>
    <div class="mini-timeline">
       <div class="timeline-item" *ngFor="let ev of eventos">
        <div class="date">
          <span class="day">{{ ev.fecha | date:'dd' }}</span>
          <span class="month">{{ ev.fecha | date:'MMM' }}</span>
        </div>
        <div class="info">
          <h3>{{ ev.nombre }}</h3>
        </div>
        <div class="action" *ngIf="ev.url_entradas">
          <a [href]="ev.url_entradas" target="_blank" class="btn-primary">Entradas</a>
        </div>
      </div>
    </div>
  </div>
</section>
